@charset "UTF-8";

/* ========================= beseここから ======================== */

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  color: #333333;
  line-height: 2.0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,li,dl,dt,dd {
  margin: 0;
  padding: 0;
  list-style:none;
}

a {
  text-decoration: none;
  color: #333333;
  transition: all .6s ease;
}

a:hover {
  transition: all .6s ease;
  opacity: 0.6;
}

.content-wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}


/* ========================= baseここまで ======================== */



/* ======================== headerここから ======================= */

.header {
  width: 100%;
}

.header-top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

}

.header-top-left {
  padding-top: 15px;
  flex-basis: 25%;
  max-width: 25%;
}

.header-top-right {
  padding-left: 40px;
  flex-basis: 59%;
  max-width: 59%;
}

.change-font-size {
  /* vertical-align: middle; */
}

.search {
  background-color: lime;
  padding: 10px;
}

.header-top-right-top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; 
  justify-content: flex-end;
  margin-bottom: 15px;
}

.header-top-right-bottom ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header-top-right-bottom ul li {
  width: calc(100%/4);
  text-align: center;
}

/* .header-top-right-bottom li:last-child {
  background-color: red;
} */

.header-top-right-bottom li:last-child a {
  color: #ffffff;
  background-color: red;
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px 0;
}

.grobal-nav ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  
  
}

.grobal-nav ul li {
  padding: 0 ;
  
  /* position: relative; */
  flex-grow: 1;
}

.grobal-nav ul li a {
  color: #ffffff;
  background-color: #004c20;
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
  padding: 28px 0;
}

/* ======================== headerここまで ======================= */

/* ======================== mainvisualここから ======================= */

.main-visual {
  position: relative;
}

.main-visual img {
  height: 570px;
  object-fit: cover;
}

.main-visual h2 {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 5vw;
  color: #ffffff;
}

/* ======================== mainvisualここまで ======================= */

/* ======================== undergraduateここから ======================= */

.undergraduate-top-page {
  padding: 10% 0;
  /* position: relative; */
}

.undergraduate-top-page  h2 {
  text-align: center;
  margin-bottom: 70px;
}

.undergraduate-top-page ul {
  display:-webkit-flex;
  display:-ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack:justify;
  justify-content:space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  
}

.undergraduate-top-page ul li {
  width: 48%;
  position: relative;
  padding-bottom: 30px;
}

.undergraduate-top-page ul li figure img {
  height: 450px;
  object-fit: cover;
}

.undergraduate-top-page ul li .content {
  position: absolute;
  width: 70%;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-80%);
  z-index: 1;
  color: #000;
  background-color: #fff;
  opacity: 0.8;
  /* font-size: 2rem; */
  text-align: center;
}








.undergraduate section:last-child {
  margin-bottom: 170px;
}

.content-box-left {
  margin-bottom: 200px;
}

.content-box-left dl {
  width: 100%;
  position: relative;
}

.content-box-left dl dt img {
  width: 60%;
  height: 450px;
  object-fit: cover;
}

.content-box-left dl dd {
  width: 40%;
  position: absolute;
  top: 40%;
  left: 40%;
  background-color: #fff;
  color: #333333;
  padding: 70px;
  z-index: 1;
}

.content-box-right {
  margin-bottom: 200px;
}

.content-box-right dl {
  width: 100%;
  position: relative;
}

.content-box-right dl dt img {
  width: 60%;
  height: 450px;
  object-fit: cover;
}

.content-box-right dl dt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.content-box-right dl dd {
  width: 40%;
  position: absolute;
  top: 40%;
  left: 10%;
  background-color: #ffffff;
  color: #333333;
  padding: 80px;
  z-index: 1;
}






main {
  background-color:skyblue;
}

/* ======================== undergraduateここまで ======================= */

/* ======================== pickupここから======================= */

.pickup h2 {
  text-align: center;
  margin-bottom: 70px;
}



/* sliderここから */

.pickup {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 48px;
  position: relative;
}
.pickup .item{
  position: relative;
  margin: 0 12px;
}

.pickup .pickup-slider .item-image {
  margin: 0 10px;
}

.pickup .pickup-slider .item-image img {
  width: 100%;
  object-fit: cover;
}


.pickup .item-title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  font-weight: bold;
  line-height: 1.6;
  background: #fff;
  height: 45px;
}

.pickup .item-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transition: opacity .2s;
}
.pickup .item:hover .item-link{
  opacity: .3;
}

/* スライダー　矢印 */
.slick-arrow{
  position: absolute;
  text-indent: -100vw;
  top: 50%;
  z-index: 1;
  width: 48px;
  height: 64px;
  color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.slick-arrow:hover,
.slick-arrow:active{
  opacity: .8;
}

.slick-prev{
  left: 0px;
  transform: translateY(-50%);
  background-image: url(../../images/arrow_left.png);
  background-size: 50%;
  
}
.slick-next{
  right: 0px;
  transform: translateY(-50%) rotate(180deg);
  background-image: url(../../images/arrow_left.png);
  background-size: 50%;
}

@media screen and (min-width: 960px){

  .pickup__slider{
    width: calc(100% + 24px * 2);
    transform: translateX(-24px);
  }
  .slick-prev{
    transform: translate(-50%,-50%);
  }
  .slick-next{
    transform: translate(50%,-50%) rotate(180deg);
  }
  .pickup .item{
    margin: 0 24px;
  }
}


/* sliderここまで */

/* ======================== pickupここまで ======================= */

/* ============= newsここから ===============*/

.news {
  padding: 120px;
}

.news .content-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.news .news-heading {
  width: 35%;
}

.news .news-content {
  width: 65%;
}

.news .news-content table {
  width: 100%;
  margin: 0 0 25px 0;
}

.news .news-content th {
  padding: 20px 2em 20px 0;
  border-bottom: 1px dotted;
}

.news .news-content td {
  border-bottom: 1px dotted;
}

.news .news-content tr:last-of-type th,
.news .news-content tr:last-of-type td {
  border-bottom: none;
}

.news .news-content .button a {
  display: block;
  font-size: 0.8rem;
  color: #000;
  border: 1px solid #000;
  width: 200px;
  line-height: 60px;
  text-align: center;
  margin: 0 0 0 auto;
}

.news .news-content .button a:hover {
  background-color: #333;
  color: #ffffff;
  opacity: 1;
}

@media screen and (max-width: 1199px) {
  .news {
    padding: 50px 5vw;
  }

  .news .content-wrapper {
    display: block;
  }

  .news .news-heading {
    width: 100%;
  }

  .news .news-heading h2 {
    text-align: center;
    margin-bottom: 5vw;
  }

  .news .news-content {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .news {
    padding: 50px 0;
    width: 90%;
    margin: 0 auto;
  }

  .news .news-content .button a {
    width: 35%;
    min-width: 200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 479px) {
  .news .news-content th {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1.25em 0 0 0;
    border-bottom: 0;
  }

  .news .news-content td {
    display: block;
    width: 100%;
  }
}


/* ============= newsここまで ===============*/